<div class="card-content center">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>Reservas: &nbsp; {{position}}</h4></span>
    </div>
    <div class="card-desc">
        <!-- <h3>{{reserva.email}}</h3> -->
        <p>Nombre: &nbsp;<strong>{{reserva.nombre}}</strong>,
            <br>Número celular: &nbsp; <strong>{{reserva.celular}}</strong>
            <br>Día de reserva: &nbsp;<strong>{{reserva.fecha}}</strong>
            <br>Tipo de vehiculo: &nbsp;<strong>{{reserva.opcAuto}}</strong>
            <br>Tipo de servicio: &nbsp;<strong>{{reserva.opcLavado}}</strong></p>
        <p>Services</p>
        <ul>
            <li *ngFor="let s of reserva.servicios">
                <span [ngSwitch]="s">
                <i *ngSwitchCase="'desayuno'" style="color:red">
                  {{s}}
                </i>
                <i *ngSwitchDefault>
                  {{s}}
                </i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()">Enviar!!</a>
        <!-- <span [style.display]="reserva.isSelected() ? '' : 'none'"> - OK -</span> -->
        <span *ngIf="reserva.isSelected()">
          <span ngNonBindable>
            {{- OK -}}
          </span>
        </span>
        <a [routerLink]="['/reserva']">Ver más</a>
    </div>
</div>
